.caixa {
    background-color: #ff976e;
    height: 100%;
    

    &-login {
        height: 520px !important;
        width: 500px;
        background-color: #086975;
        border: solid 3px #468f99;
        border-radius: 33px;
    }

    &-form {
        background-color: #1e7882;
        border-radius: 20px;

        button{background-color: #ff7640; strong{letter-spacing: 1px; text-transform: uppercase;}}
        input{border: solid 1px rgba(255, 255, 255, 0.513); background-color: #ffffff32;}
        a{text-decoration: underline;}
    }

    &-text{h1{margin: 0; font-size: 27px;} p{font-size: 17px;}}
}

.caixa-text::before{
    position: absolute;
    content: "";
    background-image: url("/assets/split-icon.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 128px;
    height: 78px;
    opacity: .1;
    top: 0px;
    right: 60px;
    z-index: 1;
}

.caixa-slid{
    background-color: #ff8a5c;
    justify-content: center;
    align-items: center;

    .carousel-container {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    
    .carousel-track {
      display: flex;
      transition: transform 0.5s ease;
    }
    
    .carousel-item {
      min-width: 100%; /* Cada slide ocupa 100% da largura do contêiner */
      text-align: center;
    }
    
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      z-index: 1;
    }
    
    button:first-of-type {
      left: 0;
    }
    
    button:last-of-type {
      right: 0;
    }

}

@media (max-width: 639px) {
    .caixa-login {
        width: 370px;
        height: 500px;
    }
}



/*
    

    .carousel-container {
        
        padding: 40px;
        width: 80%;
        height: 300px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.156);
        border-radius: 30px;
        display: flex;
        align-items: center;
        // mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
      }
      
      .carousel-track {
        display: flex;
        gap: 20px;
        width: max-content;
      }
      
      .carousel-item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 550px;
        height: 250px;
        background-color: #f0f0f0;
        border-radius: 10px;
        color: #333;
        font-size: 16px;
        font-weight: bold;
      }
      
*/ 